VITE_SUPABASE_PROJECT_ID="jrrybiohwqabsdurqudc"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpycnliaW9od3FhYnNkdXJxdWRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNzg4ODUsImV4cCI6MjA4OTk1NDg4NX0.oF47pCwHgD5M2DBZ37h-T8ISDGuVxUYlzXoeofvpBCs"
VITE_SUPABASE_URL="https://jrrybiohwqabsdurqudc.supabase.co"
